doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        title Document
    body
        // angular
        script(src='../../app/scripts/another.js' type='text/javascript')
        script(src='../../app/scripts/yet-another.js' type='text/javascript')
        script(src='../../app/scripts/no-deps.js' type='text/javascript')
        script(src='../../app/scripts/module.js' type='text/javascript')
        script(src='../../app/scripts/module-controller.js' type='text/javascript')
        script(src='../../app/scripts/dep-on-non-declared.js' type='text/javascript')
        script(src='../../app/scripts/circular3.js' type='text/javascript')
        script(src='../../app/scripts/circular2.js' type='text/javascript')
        script(src='../../app/scripts/circular.js' type='text/javascript')
        script(src='../../app/scripts/another-factory.js' type='text/javascript')
        // endangular
